<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/franken-ui@2.1.2/dist/css/core.min.css" />
  <title>ATM Machine</title>
</head>

<body class="bg-neutral-100">
  <h1 class="text-3xl font-bold m-2">Welcome to ATM Machine</h1>
  <div class="uk-card uk-card-body m-2 w-xl shadow-md">
    <h1 class="text-md font-bold mb-3">Account Name: {{name}}</h1>
    <h1 class="text-md font-bold mb-3">Account Number: {{code}}</h1>

    <div class="grid grid-cols-2 gap-4">
      <a class="uk-btn uk-btn-primary" href="/balance">Account Balance</a>
      <a class="uk-btn uk-btn-primary" href="/withdraw">Withdraw</a>
      <a class="uk-btn uk-btn-primary" href="/deposit">Deposit</a>
      <a class="uk-btn uk-btn-primary" href="/transfer">Transfer</a>
      <a class="uk-btn uk-btn-primary" href="/transaction">Transaction History</a>
      <a class="uk-btn uk-btn-primary" href="/logout">Logout</a>
    </div>
  </div>

</body>

</html>