<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/franken-ui@2.1.2/dist/css/core.min.css" />
  <title>ATM Machine</title>
</head>

<body class="bg-neutral-100">
  <h1 class="text-3xl font-bold m-2">Welcome to ATM Machine</h1>
  <div class="uk-card uk-card-body m-2 w-xl shadow-md">
    <h1 class="text-xl font-bold mb-5">Transaction History</h1>


    <table class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th class="font-bold">Transaction Date</th>
          <th class="font-bold">Description</th>
          <th class="font-bold">Mutation</th>
          <th class="font-bold">Amount</th>
          <th class="font-bold">Balance</th>
        </tr>
      </thead>
      <tbody>
        {{#transactions}}
        <tr>
          <td>{{date}}</td>
          <td>{{description}}</td>
          <td>{{mutation}}</td>
          <td>{{amount}}</td>
          <td>{{balance}}</td>
        </tr>
        {{/transactions}}
      </tbody>
    </table>

    <a class="uk-btn uk-btn-primary" href="/">Cancel</a>
  </div>

</body>

</html>